@model FripShop.DTO.DTOLoginUser
@{
    ViewBag.Title = "Index";
}
Mes Informations Personnelles
<div>
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">LastName</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Name
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">UserName</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.UserName
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Email
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Address
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Gender
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("SecondAuth", "User", FormMethod.Post))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Mettre à jour" id="Submit" class="btn btn-default" />
        </div>
    </div>
}
Mes Achats
<div style="padding-top:15px">
    <div class="card-columns">
        @{
            if (ViewData["transactionlist"] != null)
            {
                foreach (var transaction in @ViewData["transactionlist"] as IEnumerable<FripShop.DTO.DTOArticle>)
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@transaction.Name</h5>
                            <p class="card-text"><small>SellerName : </small><small class="text-muted">@transaction.User.Name</small></p>
                            <p class="card-text"><small>SellerUserName : </small><small class="text-muted">@transaction.User.UserName</small></p>
                            <p class="card-text"><small>TransactionState : </small><small class="text-muted">@transaction.State</small></p>
                        </div>
                    </div>

                }
            }
        }
    </div>
</div>
